experimentalTernaries: true
printWidth: 120
tabWidth: 4
useTabs: true
semi: true
singleQuote: false
quoteProps: consistent
jsxSingleQuote: false
trailingComma: all
bracketSpacing: true
bracketSameLine: false
arrowParens: always
# rangeStart
# rangeEnd
# parser
requirePragma: false
proseWrap: always
htmlWhitespaceSensitivity: strict
vueIndentScriptAndStyle: true
endOfLine: lf
embeddedLanguageFormatting: auto
singleAttributePerLine: true
